.macaco {
    background-color: #4d2679;
    color: rgb(146, 1, 1);
    padding: 34px 0;
    margin: 0 16px;
    font-size: 30px;
}

.macaco2 {
    background-color: #4d2679;
    color: rgb(146, 1, 1);
    padding: 24px 0;
    margin: 0 16px;
    font-size: 15px;
}

.macaco3 {
    background-color: #4d2679;
    color: rgb(146, 1, 1);
    padding: 24px 0;
    margin: 0 16px;
    font-size: 15px;
}
.background-color:#4d2679